/*colores en tamaño xs*/
$color-objeto-xs: rgb(41, 241, 91);
$color-header-xs: rgb(172, 67, 7);
$color-foter-xs: rgb(241, 84, 11);

/*colores en tamaño sm*/

$color-objeto-sm: rgb(15, 136, 235);
$color-header-sm: rgb(27, 14, 214);
$color-foter-sm: rgb(236, 22, 226);

/*colores en tamaño md*/

$color-objeto-md: rgb(196, 230, 7);
$color-header-md: rgb(175, 235, 13);
$color-foter-md: rgb(255, 85, 227);

/*colores en tamaño lg*/

$color-objeto-lg: rgb(255, 85, 85);
$color-header-lg: rgb(196, 10, 56);
$color-foter-lg: rgb(35, 14, 230);

/*colores en tamaño xl*/

$color-objeto-xl: rgb(131, 224, 8);
$color-header-xl: rgb(248, 12, 12);
$color-foter-xl: rgb(15, 231, 15);

$largo:50px;