/*colores en tamaño xs*/

$color-header-xs: rgb(208, 174, 60);
$color-objetos-xs: rgb(12, 203, 98);
$color-footer-xs: rgb(208, 174, 60);

/*colores en tamaño md*/

$color-header-md: #345B63;
$color-objetos-md: #D4ECDD;
$color-footer-md: #345B63;

/*colores en tamaño lg*/

$color-header-lg: #FEA82F;
$color-objetos-lg: #FF6701;
$color-footer-lg: #FEA82F;

/*colores en tamaño xl*/

$color-header-xl: #BDD2B6;
$color-objetos-xl: #F8EDE3;
$color-footer-xl: #BDD2B6;