/*Autor: Joel Bautista
    Sena cba
    Realizado:16/03/2022
    Ficha:2470980-->*/
    .container{
        background-color: azure;
    }
    #header{
        background-color: rgb(255, 196, 0);
        border: 1px solid black
    }
    #objeto1{
        background-color: rgb(0, 255, 136);
        border: 1px solid black
    }
    #objeto2{
        background-color: rgb(255, 0, 191);
        border: 1px solid black
    }
    #objeto3{
        background-color: rgb(0, 247, 255);
        border: 1px solid black
    }
    #footer1{
        background-color: rgb(0, 255, 136);
        border: 1px solid black
    }
    #footer2{
        background-color: rgb(255, 0, 149);
        border: 1px solid black
    }