/*colores en tamaño xs*/

$color-objetos-xs: rgb(12, 207, 194);
$color-footer-xs: rgb(235, 130, 10);
$color-header-xs: rgb(13, 197, 37);

/*colores en tamaño sm*/

$color-objetos-sm: rgb(14, 96, 230);
$color-footer-sm: rgb(243, 19, 93);
$color-header-sm: rgb(17, 212, 76);

/*colores en tamaño md*/

$color-objetos-md: rgb(5, 21, 206);
$color-footer-md: rgb(125, 228, 15);
$color-header-md: rgb(18, 235, 217);

/*colores en tamaño xl*/

$color-objetos-xl: rgb(211, 51, 144);
$color-footer-xl: rgb(145, 88, 22);
$color-header-xl: rgb(21, 175, 16);


$largo:(50px)