/*colores en la hoja*/
$color-texto: rgb(255, 255, 255);

/*colores en tamaño sm*/
$color-contenido-objeto1-xs: rgb(197, 223, 48);
$color-contenido-objeto2-xs: rgb(41, 218, 241);
$color-contenido-objeto3-xs: rgb(240, 65, 12);

/*colores en tamaño md*/
$color-contenido-objeto1-md: rgb(14, 180, 64);
$color-contenido-objeto2-md: rgb(101, 41, 241);
$color-contenido-objeto3-md: rgb(216, 13, 114);

/*colores en tamaño lg*/
$color-contenido-objeto2-lg: rgb(16, 65, 80);
$color-contenido-objeto1-lg: rgb(26, 218, 83);
$color-contenido-objeto3-lg: rgb(180, 34, 34);

$largo:50px;