$color-texto: rgb(17, 217, 224);

/*colores en tamaño sm*/
$color-objeto1-sm: rgb(14, 59, 95);
$color-objeto2-sm: rgb(241, 154, 41);
$color-objeto3-sm: rgb(85, 255, 198);
$color-objeto4-sm: rgb(249, 255, 85);

/*colores en tamaño md*/
$color-objeto1-md: rgb(255, 239, 59);
$color-objeto2-md: rgb(241, 168, 41);
$color-objeto3-md: rgb(74, 251, 216);
$color-objeto4-md: rgb(167, 85, 255);

/*colores en tamaño lg*/

$color-objeto1-lg: rgb(241, 154, 41);
$color-objeto2-lg: rgb(16, 40, 255);
$color-objeto3-lg: rgb(251, 74, 74);
$color-objeto4-lg: rgb(85, 255, 198);

/*colores en tamaño xl*/

$color-objeto1-xl: rgb(241, 154, 41);
$color-objeto2-xl: rgb(16, 40, 255);
$color-objeto3-xl: rgb(251, 74, 74);
$color-objeto4-xl: rgb(85, 255, 198);

$largo:50px;